<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>test page</title>
  </head>
  <body>
    <div>
      <h1>All Topic</h1>
      <% if (topics.length > 0) { %>
        <% topics.forEach(topics => { %>
            <h3><%= topics.body %></h3>
            <p><%= topics.author %></p>
        <% }) %>
      <% } else { %>
        <p>There are no topics to display...</p>
      <% } %>

      <h1>All Comment</h1>
      <% if (comments.length > 0) { %>
        <% comments.forEach(comments => { %>
            <h3><%= comments.body %></h3>
            <p><%= comments.author %></p>
        <% }) %>
      <% } else { %>
        <p>There are no comments to display...</p>
      <% } %>

      <a href="/logout">logout:</a>
    </div>
  </body>